name: show_fps
description: A flutter package that will allow you to check your app performance using FPS Badge.
version: 1.0.6
homepage: https://github.com/mantreshkhurana/show_fps
repository: https://github.com/mantreshkhurana/show_fps

environment:
  sdk: '>=2.18.2 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
    
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  